.container-noidung{
    margin-top: 80px;
    background-color: #FEFEFE;
    border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    justify-self: center;
    width: 1000px;
    padding: 20px;
}

.friendRequestUnique img{
    border-radius: 10px;

}
.user-friend{
    border-radius: 15px; 
    box-shadow: 0  4px 8px rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 80em;
    justify-content: space-between;
    background-color: #FFFFFF;
}
.user-friend-unique{
    display: flex;
    
}
.user-friend-unique img{
   width: 120px;
   height: 120px;
}