.profile {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.cover-photo {
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-color: #f0f0f0;
    position: relative;
}

.cover-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-details {
    display: flex;
    align-items: center;
    margin-top: -50px; /* Điều chỉnh khoảng cách này */
    padding: 0 20px;
    position: relative; /* Thêm position relative nếu chưa có */
    z-index: 1; /* Đảm bảo ảnh avatar nằm phía trên */
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-details h1 {
    margin-left: 20px;
    font-size: 2rem;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.info-section, .friends-section {
    width: 48%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-section h2, .friends-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.post img {
    display: flex;
    
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }
  .ant-modal {
    max-width: 500px;
  }
  
  .ant-upload-picture-card-wrapper {
    display: flex;
    justify-content: center;
  }
  .post{
    width: 900px;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border:5px solid rgba(0, 0, 0, 0.1)

   
  }
  .post-avatar{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }