.defaultContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 60px; /* Để header cố định */
    gap: 10px; /* Khoảng cách giữa các cột */
  }
  
  /* Sidebar */
  .sidebar {
  position: sticky; /* Giữ vị trí cố định khi cuộn */
  top: 60px; /* Khoảng cách từ trên xuống (để không đè header) */
  width: 300px;
  height: calc(100vh - 60px); /* Chiều cao của màn hình trừ header */
  overflow-y: auto; /* Thêm cuộn riêng nếu nội dung quá dài */
  background-color: #E6E8EA;
  border-radius: 8px;
  padding: 10px;
   
  }

  
  /* Third Column */
  .third-column {
    position: sticky;
    top: 60px;
    width: 300px;
    height: calc(100vh - 60px);
    overflow-y: auto;
    background-color: #E6E8EA;
    border-radius: 8px;
    padding: 10px;
  }
 