.FriendRequestList-container{
    margin-top: 80px;
    background-color: #FFFFFF;
    /* border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); */
    justify-self: center;
    width: 1000px;
    padding: 20px;
}

.friendRequestUnique img{
    border-radius: 15px;
    width: 120px;
    height: 120px;
}
.friendRequestUnique {
}