.containerPostDefault {
  flex-grow: 1;
  max-width: 1300px;
  overflow-y: auto; /* Chỉ cuộn bài viết */
  padding: 10px;
  background-color: #e6e8ea;
  border-radius: 8px;
}
@media screen {
  .post {
    margin: 0 auto; /* Canh giữa */
  }
}
