.body-setting-profile {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
  }
  .changePro-container {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 60%;
    display: flex;
    flex-direction: column; /* Sắp xếp nội dung theo chiều dọc */
    margin-top: 100px;
    height: 550px;
    padding: 20px; /* Thêm khoảng cách bên trong container */
    width: 1000px;
  }